@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Righteous", sans-serif;
}

@layer components {
  .text-gradient {
    @apply bg-gradient-to-r from-slate-400 via-slate-500 to-white text-transparent inline-block bg-clip-text;
  }

  .shadow-hover {
    @apply hover:shadow-xl hover:shadow-lime-600;
  }

  .hover-color {
    @apply hover:text-lime-500 hover:-translate-y-1 transition-all delay-75;
  }
}
